<div class="newhouse"
<h2> Create New House </h2>


<%= form_for @house do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :quote %>
  <%= f.text_field :quote %>

  <%= f.submit "Update" %>

<% end %>
</div>
