<div class="backtohouses">
<h3> <%= link_to "< Back to All Houses", houses_path %></h3>
<p><%= link_to "Add New Character", new_house_character_path(@house) %></p>
</div>
<div class="housenameshow">
<h2><%= @house.name %> | <%= link_to "(Edit)", edit_house_path %></h2>
</div>
<% @house.characters.each do |character| %>
<div class="housespage">
 <ul><h4><%= character.name %> | <%= character.position %> <%= link_to "(edit)", edit_house_character_path(@house, character)%></h4><p><%= character.quote %><p></ul>
</div>
<% end %>
