<h2> Add New Character </h2>

<%= form_for [@house, @character] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :position %>
  <%= f.text_field :position %>

  <%= f.label :quote %>
  <%= f.text_field :quote %>

  <%= f.submit "Create" %>
  <% end %>
