<!DOCTYPE html>
<html>
  <head>
    <title>Game of Thrones</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="layout">
  <body>

    <div class="logo">
      <%= image_tag('Logo_Game_of_Thrones.png', size: "550x150") %>
    </div>
    <div class="sign">
    <% if !current_user %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign in", new_user_session_path %>
  <% else %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <%= current_user.email %>
  <% end %>
</div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <p class="home"><%= link_to "Home", houses_path %></p>
    <br>
    <br>
    <%= yield %>
  </body>
</div>
</html>
